/* frontend/src/components/ViewAllSpots/ViewAllSpots.css */

.clickable {
    cursor: pointer;
    width: 21%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px; /* Adjust the gap between grid items */
    grid-auto-flow: row; /* Ensures items fill horizontally first */
}
