/* frontend/src/components/ViewAllSpots/ViewAllSpots.css

@import url('../../index.css');


.allSplashSpotGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 50px;
    grid-auto-flow: row;
    width: 75%;
    margin: auto;
}

body {
    background-color: red;
} */