/*  //frontend/src/components/SpotDetails.css */
.container {
    display: grid;
    margin: 15px;;
    gap: 15px;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: repeat(4, 1fr);
}

.box {
    background-color: black;
    color: white;
    font-size: 2rem;
    pad: 0.5rem;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.box:first-child{
    background-color: blue;
    grid-column: 1/3;
    grid-row: 1/3;
}

.middlePanel {
    gap: 30px
}

.reserveBtnDiv{
    border: 2px solid black;
    border-radius: 15px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
}

.reserveBtn{
    background-color: hsla(0, 94%, 55%, 0.885);
    color: white;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
}

.gridCol{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.priceFont{
    font-size: x-large;
}

.reserveBtn {
    width: 100%;
}

.xFlex {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

body {
    width: 75%;
    margin: auto;
}
