/* frontend/src/index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}

body {
    margin-bottom: 100px;
}

.greyButton{
    background-color: rgba(77, 72, 72, 0.842);
    color: white;
    padding: 4px 6px;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 3px 0 8px 0;
}

/* 
body {
    padding: 15px
}


.error {
    margin: 0;
    color: red;
}

.clickable {
    cursor: pointer;
    height: auto;
}

.gridCol {
    display: grid;
    grid-auto-flow: column;
    margin: auto;
}

.gridRow {
    display: grid;
    grid-auto-flow: row;
    margin: auto;
}

.horizontalFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.verticalFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


/* .grid-container {
    display: grid;
    grid-gap: 50px;
    grid-auto-flow: row;
    width: 75%;
    margin: auto;
} */

/* .grid-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */