/* frontend/src/index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}

body {
    margin-bottom: 100px;
}

.greyButton{
    background-color: rgba(77, 72, 72, 0.842);
    color: white;
    padding: 4px 6px;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 3px 0 8px 0;
}

.clickable{
    cursor: pointer;
}


.isHidden {
    display: none;
}

.submitButton {
    width: 8rem;
    height: 2rem;
    background-color: rgba(255, 98, 0, 0.878);
    color: white;
    box-shadow: 2px 5px 5px black;
    margin: auto;
}