/* frontend/src/index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: 2px red solid; */
    /* background-color: blueviolet; */
}

body {
    margin-bottom: 100px;
}

.greyButton{
    background-color: rgba(77, 72, 72, 0.842);
    color: white;
    padding: 4px 6px;
    border-radius: 2px;
    box-shadow: 3px 2px 2px black;
    margin: 3px 0 8px 0;
}

.clickable{
    cursor: pointer;
}

.errorUnderneath {
    color: red;
    padding: 0.5rem;
}

.errorMessage {
    color: red;
}

.isHidden {
    display: none;
}

.submitReviewButton {
    width: 8rem;
    height: 2rem;
    background-color: white;
    color: rgba(128, 128, 128, 0.738);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.604);
    margin: auto;
}

.addReviewText {
    width: 30rem;
    margin: auto;
}

.starDiv{
    margin: auto;
}

.formBtn {
    background-color: rgba(255, 77, 0, 0.742);
    color: white;
    height: 2rem;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.604);
    margin: auto;
    width: 8rem;
}
