/* frontend/src/components/Splash/Splash.css */

.splashSpotGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0.80fr, 1fr));
    align-items: center;
    gap: 15px;
    margin: auto;
}

@media (min-width: 1801px) {
    .splashSpotGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1800px) {
    .splashSpotGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .splashSpotGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .splashSpotGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*
.splashSpotGrid img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.spotSquare {
    width: 100%;
    aspect-ratio: 1 / 1;
}
*/