/* /frontend/src/Navigation/Navigation.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Positioning dropdown */
    padding: 10px 10px;
}

nav#navigation {
  border-bottom: 1px hsla(0, 0%, 0%, 0.373) solid;
}

#logo {
  width: 100px;
}

#navRightContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
  padding: 0px 10px;
}


#create-spot{
  height: 100%;
}

.createNewSpot{
  background-color: white;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  color: hsla(215, 100%, 50%, 0.704);
}

