/* /frontend/src/Navigation/ProfileButton.css */

@import url('../../index.css');


  
.profile-dropdown.hidden {display: none;}
.profile-dropdown.show {display: block;}
.profile-dropdown li {padding: 8px 12px;}

  
.profile-dropdown li button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none;
    padding: 10px;
    margin: 0;
    
    top: 50px; /* force it below nav bar */
    background-color: white;
    width: 120px;
}


.fa-icon {
    font-size: 1.25rem;
    color: black;
}

#PROFILE-RIGHT-CONTAINER{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 4rem;
    justify-content: space-between;
    border: 1px black solid;
    border-radius: 15px;
}