/* /frontend/src/Navigation/SpotCard.css */
@import url('../../index.css');


/*  width was set by H1 character count*/

  .verticalFlexContainer {
    background-color: aqua;
    padding: 25px 100px;
  } 

.loginModal {
    width: 350px;
    /* background-color: orange; */
    border-radius: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .demoButton{
    width: auto; 
    /* margin-top: 1rem; */
    margin: 1rem;
  }